/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: left;
  position: relative;
  overflow: hidden;
  padding: 100px 0 4rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  padding-top: 10px;
  width: 320px;
  justify-content: space-around;
  margin: auto;
}

.banner_logo{
  width: 120px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}